config:
  core.trust_password: {{ lxd_secret }}
  core.https_address: "{{ lxd_https_adress }}:{{ lxd_https_port }}"
  images.auto_update_interval: {{ lxd_image_auto_update_interval }}
storage_pools:
- config:
  name: default
  driver: dir
networks:
{% if lxd_bridgeconf_use_bridge %}
- name: {{ lxd_bridgeconf_bridge }}
  type: bridge
  config:
    ipv4.address: {{ lxd_bridgeconf_ipv4_network }}
{% if lxd_bridgeconf_ipv4_dhcp_range %}
    ipv4.dhcp: "true"
    ipv4.dhcp.gateway: "{{ lxd_bridgeconf_ipv4_addr }}"
    ipv4.dhcp.ranges: "{{ lxd_bridgeconf_ipv4_dhcp_range }}"
{% endif %}
    ipv4.nat: "{{ lxd_bridgeconf_ipv4_nat }}"
{% endif %}
{# This part corresponds to the LXD profile
We effectively emulate the LXD default profile #}
profiles:
- config: {}
  name: default
  description: "Default LXD profile"
  devices:
    root:
      path: /
      pool: default
      type: disk
    eth0:
      name: eth0
      nictype: bridged
      parent: {{ lxd_bridgeconf_bridge }}
      type: nic
cluster: null
